*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
body{
  font-family: 'lato', sans-serif;
}
ul,ol{
  list-style: none;
}
a{
  text-decoration: none;
}
#navbar{
  height: 100px;
  background-color: #131e29;
}
.container{
  width: 1170px;
  margin: 0 auto 0 auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
#navbar .container .logo{
  width: 30%;
  display:block;
}
#navbar .container .logo a{
 display: block;
}
#navbar .logo a img{
  padding: 15px 0 0 0;
  display: inline-block;
}
#navbar .container .menu-list{
  width: 70%;
}
#navbar .container .menu-list ul{
  text-align: right;
}
#navbar .container .menu-list ul li{
  display: inline-block;
}
#navbar .container .menu-list ul li a{
  padding: 41px 13px;
  display: block;
  color: #fff;
  font-size: 13px;
  font-weight: 800;
}
#navbar .menu-list ul li:first-child a{
  color: #45b9ea;
}

#navbar .menu-list ul li:hover a{
  color: #45b9ea;
  transition: all ease 0.4s;
}
#banner{
  min-height:702px;
  background-image: url("../images/banner.png");
}
.banner-part{
  margin-left: 567px;
  padding-top: 342px;
}
.banner-part .introductory{
  color: #fff;
}
.banner-part .introductory h1{
  font-size: 46px;
  font-weight: 300;
}
.banner-part .introductory h1 span{
  font-weight: 700;
}
.banner-part .introductory p{
  margin-top: 33px;
  font-size: 16px;
  font-weight: 300;
}
.banner-part .button{
  margin-top: 44px;
  text-transform: uppercase;
  display: flex;
}
.banner-part .button .download{
  display: inline-block;
}
.banner-part .button .learn-more{
  margin-left: 40px;
}
.banner-part .button .download button,
.banner-part .button .learn-more button{
  background-color: transparent;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  padding: 25px 50px;
  border-radius: 8px;
  border: 2px solid #fff;
}
.banner-part .button .download button:hover,
.banner-part .button .learn-more button:hover{
  background-color: #45b9ea;
  border: 2px solid #45b9ea;
  transition: all linear 0.5s;
}
